.trans , .trans >*>*{
  transition:all 1s;
}
.nPreg {
  position: absolute;
  right: 0px;
}
.direct-chat-contacts {
  height: inherit;
}

.content-wrapper, .main-header .navbar{
  margin-left: 0px !important;
}

.user-circle {
  position: absolute;
  top: 300px;
  left: 50%;
  margin-left: -45px;
  z-index: 100;
}

.blockrelative{
   position: relative;
}
.blockrelative, .blockrelative .card-img-top {
  transition:all .4s;
}

.chat-panel {
  position: absolute;
  top: 0px;
  width: 0%;
  height:100%;
  z-index: 100;
  white-space: nowrap;
  transition: width .4s ease-in-out;
  overflow:hidden;
  right: 0px;
}

.chat-panel-open {
  width: 100%;
}

.imgCardCircle {
  position: absolute;
  width: 50px;
  top:-50px;
  border-radius: 50%;
  z-index: 100;
}

.cardHeaderCircle {
  padding-left: 3.5rem
}
