/*--------*/
/*  chat  */
/*--------*/
.chat-container {
  overflow-y: auto;
  height: 285px;
  opacity: 0.6;
}
.chat-container:hover {
  opacity: 0.8;
}
ul.chat-log {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul.chat-log li {
  margin: 5px;
}
.msg-yo span {
  background: #5ca6fa;
  color: #fff;
}
.msg-el span {
  background: #ccc;
  /*color: #fff;*/
}
.msg-txt {
  display: inline-block;
  font-size: 14px;
  padding: 4px 15px;
  border-radius:30px;
  /*max-width: calc(100% - 60px);*/
  max-width: 80%;
}
.msg-yo {
  text-align: right;
}
.msg-el {
  text-align: left;
}





.hueco img {
  position: absolute;
  /*z-index: -1;*/
}


.trans , .trans >*>*{
  transition:all 1s;
}
.nPreg {
  position: absolute;
  right: 0px;
}

.user-circle {
  position: absolute;
  top: 300px;
  left: 50%;
  margin-left: -45px;
  z-index: 100;
}

.relative{
   position: relative;
}
.relative, .relative .card-img-top {
  transition:all .4s;
}

.chat-panel {
  position: absolute;
  top: 0px;
  width: 0%;
  height:100%;
  z-index: 100;
  white-space: nowrap;
  transition: width .4s ease-in-out;
  overflow:hidden;
  right: 0px;
  background-color: #222d32;
  /*background-color: #1e282c;*/

}

.chat-panel a{
  color: #c2c7d0;
  border-radius: .25rem;
  position: relative;
}
.chat-panel a .right{
  position: absolute;
  right: 1rem;
  top: 12px;
}
.chat-panel a:hover{
  color: #fff;
  background-color: rgba(255,255,255,.1);
}

.chat-panel ul {
  background-color:#2c3b41;
}
.chat-panel-open {
  width: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
}

.imgCardCircle {
  position: absolute;
  width: 50px;
  top:-50px;
  border-radius: 50%;
  z-index: 100;
}

.cardHeaderCircle {
  padding-left: 3.5rem
}





/* test */

.right2{
  float: right;
  position: absolute;
}